<!DOCTYPE html>
<html>
    <head>
        <title>Angular Intro Example</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="scripts.js"></script>
    </head>
    <body ng-app="myApp">
        <input type="text" ng-model="yourName" placeholder="Enter a name here">
        <hr>
        <h1>Hello {{yourName}}!</h1>

        <input type="text" ng-model="cost">
        <input type="text" ng-model="quantity">
        <span>{{cost * quantity}}</span>

        <div ng-controller="myController">
            <p>My name that is not binded to the box: {{ firstName + ' ' + lastName }}</p>
            <ul>
                <li ng-repeat="name in names">
                    {{ name }}
                </li>
            </ul>
            <button ng-click="updateTweet()"></button>
        </div>
    </body>
</html>
